body{
    margin: 20px;
    background:#f7f7f7f7 ;
}

#ativar{
    display: block;
    margin: 20px auto;
}

#modal{
    padding: 30px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    max-width: 400px;
    margin: 20px auto;
    opacity: 0;
    transform:translateY(-20px);
}

#modal h1{
    font-family: sans-serif;
    margin: 0px 0px 20px;
}

#modal label{
    display: block;
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;

}

#modal input{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: .5rem;
    font-size: 1rem;
    background: #f7f7ff;
}

#modal button{
    margin-top: 20px;
    display: block;
    font-family: sans-serif;
    font-size: 1rem;
    padding: .6rem 2rem;
    border: none;
    background:#ffb801;
    border-radius: 4px;
    color: #402d00;
}

#modal.animar{
   /*animation-name:slid;
   animation-duration: .3s;
   animation-fill-mode: forwards;
   animation-timing-function:ease;
   animation-delay: 0s;
   animation-direction: normal;
  animation-play-state:running ;*/
  animation: slid .3s forwards;
}   

@keyframes slid {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


